@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply box-border min-h-screen overflow-x-hidden bg-zinc-900 font-main text-zinc-50;
  --webkit-font-smoothing: antialiased;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
